<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการเช็คชื่อ</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #dbc7e5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        /* Navbar */
        .navbar {
            background-color: #640df0;
            color: white;
            padding: 15px;
            text-align: center;
        }

        .navbar h1 {
            margin: 0;
            color: #f4f2f8;
        }

        /* ตาราง */
        table {
            width: 70%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 2px 10px rgba(21, 6, 163, 0.1);
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #ff4830;
            color: white;
        }

        /* ปุ่มลิงก์ */
        .link-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 15px;
            text-align: center;
            background-color: #f3841c;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .link-button:hover {
            background-color: #e6730a;
            transform: scale(1.05);
        }

        /* Footer */
        footer {
            background-color: #640df0;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <h1>รายการเช็คชื่อ</h1>
    </nav>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>วันเช็คชื่อ</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            <% studentList.forEach(record => { %>
                <tr>
                    <td><%= record.id %></td>
                    <td><%= record.first_name %></td>
                    <td><%= record.last_name %></td>
                    <td><%= record.active_date.toDateString() %></td>
                    <td><%= record.status === 'P' ? 'มาเรียน' : 'ขาดเรียน' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/" class="link-button">กลับไปหน้าเช็คชื่อ</a>

    <footer>
        <p>&copy; Nannapat Choosuk</p>
    </footer>
</body>
</html>
